<%= form_for model do |f| %>
  <%= f.label :description, "What did you do?" %>
  <%= f.text_area :description, placeholder: 'For example, you could say: "I raised awareness about the need for greater test coverage"' %>
  <values class='control-group'>
    <label for='values'>What Core Values were on display?</label>
    <select name="act[qualities][]" id='values' multiple class='selectize' placeholder='Find core values...'>
      <% qualities.each do |q| %>
        <option selected value='<%= q.id %>'><%= q.assertion %></option>
      <% end %>
      <option value=''></option>
      <% unselected_qualities.each do |q| %>
        <option value='<%= q.id %>'><%= quality_assertion(q) %></option>
      <% end %>
    </select>
  </values>
  <challenges>
    <label>What challenges were faced? How were they overcome?</label>
    <appendtarget></appendtarget>
    <div class='add-challenge'>
      <addchallenge>+ Add Challenge</addchallenge>
    </div>
  </challenges>
  <br>
  <div>
    <benefit>
      <label>How does this benefit Metova?</label>
      <appendtarget></appendtarget>
      <addbenefit>+ Add Benefit</addbenefit>
    </benefit>
  </div>
  <br>
  <%= f.submit 'Create Act', id:'submit-button' %>
<% end %>
<br>
<!-- <button id='preview-button'></button> -->
<div class="modal">
  <label for="modal-1">
    <div id='preview-button' class="modal-trigger">Preview</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Preview:</h1>
      <modalcontent class="modal-intro"></modalcontent>
    </div>
  </div>
</div>
