<%= cell('acts/navbar/cell/show', nil) %>
<%= form_for model do |f| %>
  <div class='form-button-wrapper'>
    <div class='modal-button-wrapper'>
      <div class="modal">
        <label for="modal-1">
          <div id='preview-button' class="modal-trigger">Preview</div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-1"></div>
            <h1>Preview:</h1>
            <modalcontent class="modal-intro"></modalcontent>
          </div>
        </div>
      </div>
    </div>
    <div class='submit-button-wrapper'>
      <%= f.submit button_text, id:'submit-button', value: "Create Accomplishment" %>
    </div>
  </div>
  <%= f.label :description, "What did you achieve?" %>
  <%= f.text_area :description, placeholder: 'For example: "I raised awareness about the need for greater test coverage"' %>
  <values class='control-group'>
    <label for='values'>What Core Values were on display?</label>
    <select name="act[qualities][]" id='values' multiple class='selectize' placeholder='Find core values...'>
      <% qualities.each do |q| %>
        <option selected value='<%= q.id %>'><%= q.assertion %></option>
      <% end %>
      <option value=''></option>
      <% unselected_qualities.each do |q| %>
        <option value='<%= q.id %>'><%= quality_assertion(q) %></option>
      <% end %>
    </select>
  </values>
  <challenges>
    <label>What challenges were faced? How were they overcome?</label>
    <% if challenges.present? %>
      <% challenges.each_with_index do |challenge, i| %>
        <div class='challenge-input-wrapper'>
          <div class='challenge-inputs'>
              <span>Problem:</span><textarea name='act[challenges][<%= i + 100 %>][]' class='problem' placeholder='For example: "Deadlines made it challenging to write tests"'><%= challenge.problem %></textarea>
              <span>Solution to Problem:</span><textarea name='act[challenges][<%= i + 100 %>][]' class='solution' placeholder='For example: "We explained the need for testing to the client and were given more time"'><%= challenge.solution %></textarea>
            </div>
            <div class='remove-challenge-wrapper'>
              <div class='remove-challenge-x'></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <appendtarget></appendtarget>
    <div class='add-challenge'>
      <addchallenge>+ Add Challenge</addchallenge>
    </div>
  </challenges>
  <br>
  <div>
    <benefit>
      <label>How does this benefit Metova?</label>
      <% if benefits.present? %>
        <% benefits.each_with_index do |benefit, i| %>
          <div class='benefit-input-wrapper'>
            <div class='benefit-input'>
              <span>Benefit:</span><textarea class='benefit' name='act[benefits][]' placeholder='For example: "Client satisfaction was raised following fewer incidences of bug reports due to greater test coverage"'><%= benefit.description %></textarea>
            </div>
            <div class='remove-benefit-wrapper'>
              <div class='remove-benefit-x'></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <appendtarget></appendtarget>
      <addbenefit>+ Add Benefit</addbenefit>
    </benefit>
  </div>
  <br>

<% end %>
<br>
<!-- <button id='preview-button'></button> -->
