<%= form_for model do |f| %>
  <%= f.label :description, "What did you do?" %>
  <%= f.text_area :description, placeholder: 'For example, you could say: "I raised awareness about the need for greater test coverage"' %>
  <values class='control-group'>
    <label for='values'>What Core Values were on display?</label>
    <select name="act[qualities][]" id='values' multiple class='selectize' placeholder='Find core values...'>
      <% qualities.each do |q| %>
        <option selected value='<%= q.id %>'><%= q.assertion %></option>
      <% end %>
      <option value=''></option>
      <% unselected_qualities.each do |q| %>
        <option value='<%= q.id %>'><%= quality_assertion(q) %></option>
      <% end %>
    </select>
  </values>
  <challenges>
    <label>What challenges were faced? How were they overcome?</label>
    <appendtarget></appendtarget>
    <addchallenge>+ Add Challenge</addchallenge>
  </challenges>
  <br>
  <benefit>
    <label>How does this benefit Metova?</label>
    <appendtarget></appendtarget>
    <addbenefit>+ Add Benefit</addbenefit>
  </benefit>
  <br>
  <%= f.submit 'Create Act', id:'submit-button' %>
<% end %>
<br>
<button id='preview-button'>Preview</button>
