<%= form_for model do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Briefly describe your act" %>
  <values class='control-group'>
    <label for='values'>
    <select name="act[qualities][]" id='values' multiple class='selectize' placeholder='Find core values...'>
      <% qualities.each do |q| %>
        <option selected value='<%= q.id %>'><%= q.assertion %></option>
      <% end %>
      <option value=''></option>
      <% unselected_qualities.each do |q| %>
        <option value='<%= q.id %>'><%= quality_assertion(q) %></option>
      <% end %>
    </select>
  </values>
  <challenges>
    <appendtarget></appendtarget>
    <addchallenge>+ Add Challenge</addchallenge>
  </challenges>
  <br>
  <benefit>
    <appendtarget></appendtarget>
    <addbenefit>+ Add Benefit</addbenefit>
  </benefit>
  <br>
  <%= f.submit 'Create Act', id:'submit-button' %>
<% end %>
<br>
<button id='preview-button'>Preview</button>
